body{
	font-family:'Helvetica',sans-serif;
}
.container{
	margin:15px auto;
	width:80%;
}

$fz:(
	sm: 12px,
	reg: 16px,
	large: 26px,
	xl: 38px
);

h1{
	margin:40px 0 20px;
	font-weight:700;
	font-size: map-get($fz,xl);
	line-height:32px;
	color:$color-primary;
}

h2{
	font-size:18px;
	padding:0 0 21px 5px;
	margin:45px 0 0 0;
	text-transform:uppercase;
	font-weight:500;
}
.small{
	font-size:14px;
	color:#a5adb4;
	a{
		color:$color-primary;
		&:hover{
			color:$color-accent;
		}
	}
}

.glyphs{
	@extend %shared;
	li{
		@extend %list-shared;
	}
	input{
		@extend %input-shared;
	}
}

.character-mapping{
	li{
		width:90px
	}
	.icon{
		margin:10px 0 10px 15px;
		padding:15px;
		position:relative;
		width:55px;
		height:55px;
		color:$color-primary;
		overflow:hidden;
		font-size:32px;
		svg{fill:#000}
	}
	input{
		width:100%;
		text-align:center;
	}
}

.css-mapping{
	.icon{
		margin:0;
		margin-right:10px;
		padding:13px;
		height:50px;
		width:50px;
		color:$color-primary;
		overflow:hidden;
		float:left;
		font-size:24px;
	}
	input{
		width:150px;
		float:right;
	}
}

.svg-sprite{

  [class^="icon-"],
	[class*=" icon-"] {
	  margin: 10px;
	  height: 35px;
	  width: 35px;
	  float: left;
	}
	input{
	  width:150px;
	  float:right;
	}
}
